.root {
  @apply relative box-border max-h-full cursor-pointer
  overflow-hidden bg-cover bg-center bg-no-repeat
  transition-transform ease-linear;
  /* height: 100% !important; */
}

.root:hover {
  & .productImage {
    transform: scale(1.1);
  }

  & .header .name span,
  & .header .price,
  & .wishlistButton {
    @apply bg-secondary text-secondary;
  }

  &:nth-child(6n + 1) .header .name span,
  &:nth-child(6n + 1) .header .price,
  &:nth-child(6n + 1) .wishlistButton {
    @apply bg-violet text-white;
  }

  &:nth-child(6n + 5) .header .name span,
  &:nth-child(6n + 5) .header .price,
  &:nth-child(6n + 5) .wishlistButton {
    @apply bg-blue text-white;
  }

  &:nth-child(6n + 3) .header .name span,
  &:nth-child(6n + 3) .header .price,
  &:nth-child(6n + 3) .wishlistButton {
    @apply bg-pink text-white;
  }

  &:nth-child(6n + 6) .header .name span,
  &:nth-child(6n + 6) .header .price,
  &:nth-child(6n + 6) .wishlistButton {
    @apply bg-cyan text-white;
  }
}

.header {
  @apply absolute left-0 top-0
  z-20 pr-14 transition-colors duration-500 ease-in-out;
}

.header .name {
  @apply leading-extra-loose w-full max-w-full pt-0
  transition-colors duration-500 ease-in-out;
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply bg-primary px-6 py-4 font-bold text-primary
  transition-colors duration-500 ease-in-out;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.home {
  @apply relative h-[425px] w-[264px] min-w-[264px];
}

.header .price {
  @apply inline-block bg-primary px-6 pb-4 pt-2 text-sm
  font-semibold tracking-wide text-accent-9
  transition-colors duration-500 ease-in-out;
}

.imageContainer {
  @apply flex h-full w-full items-center justify-center overflow-hidden;
}

.imageContainer .productImage {
  @apply transform object-cover transition-transform duration-500;
}

.productImage {
  @apply h-auto max-h-[192px] w-auto max-w-[192px];
}

.root .wishlistButton {
  @apply absolute right-0 top-0 z-30;
}

/* Variant Simple */
.simple .header .name {
  @apply -mt-1 pt-2 text-lg leading-10;
}

.simple .header .price {
  @apply text-sm;
}

/* Variant Slim */
.slim {
  @apply relative box-border aspect-square
  overflow-hidden bg-transparent;
}

.slim .header {
  @apply absolute inset-0 z-20 mr-4 flex items-center justify-end;
}

.slim span {
  @apply bg-secondary-2 inline-block break-words p-3
  text-xl font-medium text-primary;
}

.root:global(.secondary) .header span {
  @apply bg-accent-0 text-accent-9;
}
